body{
 margin:10px;
}

#Eu{
    border:1px solid rgba(207, 202, 202, 0.459);
      background-color: rosybrown;
      color:black;
      width: 100px;
      margin:1px ;
}

.index{
        border: 1px solid white;
        border-radius: 2px;
        background-color: rosybrown;
        margin-left: 4px;
        color: white;
        text-decoration: none;
        padding: 6px;
}

.button {
    background-color:rosybrown; /* Green */
    border: none;
    color: white;
    padding: 4px ;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px ;
    cursor: pointer;
  }

  #coral{
     background-color:crimson;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;

  }

  cora2{
    background-color:crimson;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;
  }

  cora3{
    background-color:crimson;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;
  }

  acordo{
    background-color:lightyellow;
    color: gray;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;
  }

  cora4{
    background-color:crimson;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;
  }

  cora5{
    background-color:crimson;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;
  }

  cora6{
    background-color:crimson;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;
  }
  

  cora7{
    background-color:crimson;
    border: 1px solid gainsboro;
    width: 100px;
    padding: 0.5%;
    display: inline-block;
    margin:10px ;
  }
  